[data-simplebar] {position:relative;z-index:0;overflow:hidden!important;max-height:inherit;-webkit-overflow-scrolling:touch;}
[data-simplebar=init] {display:flex;}
[data-simplebar] .simplebar-content {overflow:hidden;}
[data-simplebar=init] .simplebar-content {overflow:scroll;}
.simplebar-content {overflow-y:hidden!important;box-sizing:border-box!important;min-height:100%!important;}
